@import "../variables/colors";
@import "../variables/typography";
@import "../variables/variables";
@import "../mixins/media";
@import "../mixins/utilities";

// ============================================
// About Page
// ============================================

.about-page {
  // About Block
  &__about-block {
    background-color: var(--card-2);
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 40px;
    margin-bottom: 40px;

    @include lg-down {
      padding: 24px 16px;
      margin-bottom: 30px;
    }
  }

  // Contact Block
  &__contact-block {
    background-color: var(--card-2);
    border-radius: 18px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include lg-down {
      padding: 24px 16px;
      height: auto;
      // min-height: 200px;
    }
  }

  &__contact-title {
    font-family: var(--font-family);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    color: var(--primary);
    line-height: var(--line-height-tight);
    margin-bottom: 20px;
    // text-align: center;

    @include lg-down {
      font-size: var(--font-size-h4);
      margin-bottom: 15px;
    }
  }

  &__contact-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include lg-down {
      width: 70px;
      height: 70px;
      margin-bottom: 15px;
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include lg-down {
      gap: 15px;
    }
  }

  &__contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-family);
    font-size: var(--font-size-body1);
    font-weight: var(--font-weight-regular);
    color: var(--gray-2);

    i {
      font-size: 15px;
      color: var(--primary);
      flex-shrink: 0;
    }

    a {
      color: var(--gray-2);
      text-decoration: none;

      &:hover {
        color: var(--primary);
      }
    }

    @include lg-down {
      font-size: var(--font-size-body2);
    }
  }
}