// Company Page Styles
// Использует общий компонент .datatable, добавляет специфичные стили для карточек
.company {
  // Используем общий компонент datatable
  @extend .datatable;

  &__card {
    @extend .datatable--grid__card;
  }
}

