// Footer
footer.footer
  .footer__main
    .container
      .footer__content
        // Organisers Section
        .footer__section.footer__section--organisers
          .footer__title-wrapper
            h3.footer__title Organisers
            .footer__divider
          // Logo list
          .footer__organisers
            .footer__organiser
              img(src="assets/img/iteca-logo.webp" alt="Iteca Caspian" loading="lazy" width="130" height="70")
            .footer__organiser
              img(src="assets/img/ica-logo.webp" alt="ICA Events" loading="lazy" width="102" height="70")
            .footer__organiser
              img(src="assets/img/ceo-logo.webp" alt="Caspian Event Organisers" loading="lazy" width="70" height="70")
            .footer__organiser
              img(src="assets/img/cem-logo.webp" alt="Caspian Event Management" loading="lazy" width="63" height="70")
        
        // Social Network Section
        .footer__section.footer__section--social
          .footer__title-wrapper
            h3.footer__title Social network
            .footer__divider
          .footer__social
            a.footer__social-link(href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn")
              i.fab.fa-linkedin
            a.footer__social-link(href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram")
              i.fab.fa-instagram
            a.footer__social-link(href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook")
              i.fab.fa-facebook-square
  
  // Copyright Section
  .footer__copyright
    .container
      .position-relative
        p.footer__copyright-text Copyright © Iteca Caspian LLC All Rights Reserved.
        button.footer__scroll-top(type="button" aria-label="Scroll to top")
          i.fal.fa-arrow-up
