// Bootstrap 5 JS Local
script(src="assets/plugins/bootstrap/bootstrap.bundle.min.js")

// Swiper JS
script(src="assets/plugins/swiper/swiper-bundle.min.js")

// jQuery (required for DataTables)
script(src="assets/plugins/jquery/jquery.min.js")

// DataTables JS
script(src="assets/plugins/datatables/jquery.dataTables.min.js")
script(src="assets/plugins/datatables/dataTables.bootstrap5.min.js")

// Add to Calendar Button JS
script(src="assets/plugins/addtocalendar/atcb.min.js")

// Lite YouTube Embed JS
script(src="assets/plugins/youtube-lite/lite-yt-embed.js")

// Fancybox JS
script(src="assets/plugins/fancybox/fancybox.umd.js")

// Custom Scripts
script(src="assets/js/script.min.js")
block scripts