.navbar
	.container-fluid.px-5
		.navbar__content.d-flex.align-items-center.justify-content-between
			.navbar__menu.d-flex.align-items-center
				.navbar__item.d-flex.align-items-center
					span Выставка
					i.fa-solid.fa-caret-down

				.navbar__item.d-flex.align-items-center
					span Участникам
					i.fa-solid.fa-caret-down

				.navbar__item.d-flex.align-items-center
					span Посетителям
					i.fa-solid.fa-caret-down

				.navbar__item.d-flex.align-items-center
					span Медиа-центр
					i.fa-solid.fa-caret-down

				.navbar__item.d-flex.align-items-center
					span Сервисы
					i.fa-solid.fa-caret-down

				.navbar__item.d-flex.align-items-center
					span Организатор
					i.fa-solid.fa-caret-down

				.navbar__item.navbar__item--no-dropdown
					span Обратная связь

			.navbar__buttons.d-flex.align-items-center
				.navbar__button.navbar__button--outline
					span Бронирование стенда

				.navbar__button.navbar__button--solid
					span Станте спонсором