.topbar
  .container-fluid.px-5
    .topbar__content.d-flex.align-items-center
      .topbar__logo
        img(src="assets/img/logo.svg" alt="ADEX" height="72")
      
      .topbar__center.ms-auto
        p.topbar__title 30th Anniversary Azerbaijan International Construction Exhibition
      
      .topbar__right.d-flex.align-items-center.ms-auto
        .topbar__info.d-flex.align-items-center
          .topbar__info-item.d-flex.align-items-center
            i.fa-regular.fa-calendar-plus
            span 3-5 June, 2025
          
          .topbar__divider
          
          .topbar__info-item.d-flex.align-items-center
            i.fa-regular.fa-location-dot
            span Baku Expo Center
        
        .topbar__actions.d-flex.align-items-center
          .topbar__language.d-flex.align-items-center
            img.topbar__flag(src="assets/img/flag-az.svg" alt="AZ" width="22" height="16")
            span AZ
            i.fa-solid.fa-caret-down
          
          .topbar__user.d-flex.align-items-center
            i.fa-solid.fa-user
            span Personal Area
