.topbar
  .container-fluid.topbar__container
    .topbar__content.d-flex.align-items-center.justify-content-between
      button.topbar__toggle.d-lg-none(type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarMobileMenu" aria-controls="navbarMobileMenu" aria-label="Toggle navigation")
        i.fa-solid.fa-bars.topbar__toggle-icon
      
      .topbar__logo
        img(src="https://adex.az/projects/adex/assets/logolight.webp?v=96.2.10" alt="ADEX" width="98" height="72")
      
      .topbar__center.d-none.d-lg-block
        p.topbar__title 30th Anniversary Azerbaijan International Construction Exhibition
      
      .topbar__right.d-flex.align-items-center
        .topbar__info.d-none.d-lg-flex.align-items-center
          .topbar__info-item.d-flex.align-items-center
            i.fa-regular.fa-calendar-plus
            span 3-5 June, 2025
          
          .topbar__divider
          
          .topbar__info-item.d-flex.align-items-center
            i.fa-regular.fa-location-dot
            span Baku Expo Center
        
        .topbar__actions.d-flex.align-items-center
          .topbar__language.dropdown
            button.topbar__language-btn.d-flex.align-items-center.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
              span.fi.fi-az.topbar__flag
              span AZ
              i.fa-solid.fa-caret-down.topbar__language-icon
            ul.topbar__language-dropdown.dropdown-menu.dropdown-menu-end
              li
                a.topbar__language-item.dropdown-item.d-flex.align-items-center(href="#" data-lang="az")
                  span.fi.fi-az.topbar__flag
                  span AZ
              li
                a.topbar__language-item.dropdown-item.d-flex.align-items-center(href="#" data-lang="en")
                  span.fi.fi-gb.topbar__flag
                  span EN
              li
                a.topbar__language-item.dropdown-item.d-flex.align-items-center(href="#" data-lang="ru")
                  span.fi.fi-ru.topbar__flag
                  span RU
          
          .topbar__user.d-none.d-lg-flex.align-items-center
            i.fa-solid.fa-user
            span Personal Area
