@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-Bold.eot');
    src: local('AntennaComp Bold'), local('AntennaComp-Bold'),
        url('AntennaComp-Bold.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-Bold.woff2') format('woff2'),
        url('AntennaComp-Bold.woff') format('woff'),
        url('AntennaComp-Bold.ttf') format('truetype'),
        url('AntennaComp-Bold.svg#AntennaComp-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-ExtraLight.eot');
    src: local('AntennaComp ExtraLight'), local('AntennaComp-ExtraLight'),
        url('AntennaComp-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-ExtraLight.woff2') format('woff2'),
        url('AntennaComp-ExtraLight.woff') format('woff'),
        url('AntennaComp-ExtraLight.ttf') format('truetype'),
        url('AntennaComp-ExtraLight.svg#AntennaComp-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-Medium.eot');
    src: local('AntennaComp Medium'), local('AntennaComp-Medium'),
        url('AntennaComp-Medium.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-Medium.woff2') format('woff2'),
        url('AntennaComp-Medium.woff') format('woff'),
        url('AntennaComp-Medium.ttf') format('truetype'),
        url('AntennaComp-Medium.svg#AntennaComp-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-Black.eot');
    src: local('AntennaComp Black'), local('AntennaComp-Black'),
        url('AntennaComp-Black.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-Black.woff2') format('woff2'),
        url('AntennaComp-Black.woff') format('woff'),
        url('AntennaComp-Black.ttf') format('truetype'),
        url('AntennaComp-Black.svg#AntennaComp-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: url('Antenna-BoldItalic.eot');
    src: local('Antenna BoldItalic'), local('Antenna-BoldItalic'),
        url('Antenna-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Antenna-BoldItalic.woff2') format('woff2'),
        url('Antenna-BoldItalic.woff') format('woff'),
        url('Antenna-BoldItalic.ttf') format('truetype'),
        url('Antenna-BoldItalic.svg#Antenna-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: url('Antenna-Bold.eot');
    src: local('Antenna Bold'), local('Antenna-Bold'),
        url('Antenna-Bold.eot?#iefix') format('embedded-opentype'),
        url('Antenna-Bold.woff2') format('woff2'),
        url('Antenna-Bold.woff') format('woff'),
        url('Antenna-Bold.ttf') format('truetype'),
        url('Antenna-Bold.svg#Antenna-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond RegularItalic';
    src: url('AntennaExtraCond-RegularItalic.eot');
    src: local('AntennaExtraCond RegularItalic'), local('AntennaExtraCond-RegularItalic'),
        url('AntennaExtraCond-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-RegularItalic.woff2') format('woff2'),
        url('AntennaExtraCond-RegularItalic.woff') format('woff'),
        url('AntennaExtraCond-RegularItalic.ttf') format('truetype'),
        url('AntennaExtraCond-RegularItalic.svg#AntennaExtraCond-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-Thin.eot');
    src: local('AntennaExtraCond Thin'), local('AntennaExtraCond-Thin'),
        url('AntennaExtraCond-Thin.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-Thin.woff2') format('woff2'),
        url('AntennaExtraCond-Thin.woff') format('woff'),
        url('AntennaExtraCond-Thin.ttf') format('truetype'),
        url('AntennaExtraCond-Thin.svg#AntennaExtraCond-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-ExtraLight.eot');
    src: local('AntennaExtraCond ExtraLight'), local('AntennaExtraCond-ExtraLight'),
        url('AntennaExtraCond-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-ExtraLight.woff2') format('woff2'),
        url('AntennaExtraCond-ExtraLight.woff') format('woff'),
        url('AntennaExtraCond-ExtraLight.ttf') format('truetype'),
        url('AntennaExtraCond-ExtraLight.svg#AntennaExtraCond-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-Medium.eot');
    src: local('AntennaExtraCond Medium'), local('AntennaExtraCond-Medium'),
        url('AntennaExtraCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-Medium.woff2') format('woff2'),
        url('AntennaExtraCond-Medium.woff') format('woff'),
        url('AntennaExtraCond-Medium.ttf') format('truetype'),
        url('AntennaExtraCond-Medium.svg#AntennaExtraCond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-ThinItalic.eot');
    src: local('AntennaExtraCond ThinItalic'), local('AntennaExtraCond-ThinItalic'),
        url('AntennaExtraCond-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-ThinItalic.woff2') format('woff2'),
        url('AntennaExtraCond-ThinItalic.woff') format('woff'),
        url('AntennaExtraCond-ThinItalic.ttf') format('truetype'),
        url('AntennaExtraCond-ThinItalic.svg#AntennaExtraCond-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-Light.eot');
    src: local('AntennaExtraCond Light'), local('AntennaExtraCond-Light'),
        url('AntennaExtraCond-Light.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-Light.woff2') format('woff2'),
        url('AntennaExtraCond-Light.woff') format('woff'),
        url('AntennaExtraCond-Light.ttf') format('truetype'),
        url('AntennaExtraCond-Light.svg#AntennaExtraCond-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-ExtraLightItalic.eot');
    src: local('AntennaComp ExtraLightItalic'), local('AntennaComp-ExtraLightItalic'),
        url('AntennaComp-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-ExtraLightItalic.woff2') format('woff2'),
        url('AntennaComp-ExtraLightItalic.woff') format('woff'),
        url('AntennaComp-ExtraLightItalic.ttf') format('truetype'),
        url('AntennaComp-ExtraLightItalic.svg#AntennaComp-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-Regular.eot');
    src: local('AntennaExtraCond Regular'), local('AntennaExtraCond-Regular'),
        url('AntennaExtraCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-Regular.woff2') format('woff2'),
        url('AntennaExtraCond-Regular.woff') format('woff'),
        url('AntennaExtraCond-Regular.ttf') format('truetype'),
        url('AntennaExtraCond-Regular.svg#AntennaExtraCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-MediumItalic.eot');
    src: local('AntennaComp MediumItalic'), local('AntennaComp-MediumItalic'),
        url('AntennaComp-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-MediumItalic.woff2') format('woff2'),
        url('AntennaComp-MediumItalic.woff') format('woff'),
        url('AntennaComp-MediumItalic.ttf') format('truetype'),
        url('AntennaComp-MediumItalic.svg#AntennaComp-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-MediumItalic.eot');
    src: local('AntennaExtraCond MediumItalic'), local('AntennaExtraCond-MediumItalic'),
        url('AntennaExtraCond-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-MediumItalic.woff2') format('woff2'),
        url('AntennaExtraCond-MediumItalic.woff') format('woff'),
        url('AntennaExtraCond-MediumItalic.ttf') format('truetype'),
        url('AntennaExtraCond-MediumItalic.svg#AntennaExtraCond-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond ExtraLightIta';
    src: url('AntennaExtraCond-ExtraLightIta.eot');
    src: local('AntennaExtraCond ExtraLightIta'), local('AntennaExtraCond-ExtraLightIta'),
        url('AntennaExtraCond-ExtraLightIta.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-ExtraLightIta.woff2') format('woff2'),
        url('AntennaExtraCond-ExtraLightIta.woff') format('woff'),
        url('AntennaExtraCond-ExtraLightIta.ttf') format('truetype'),
        url('AntennaExtraCond-ExtraLightIta.svg#AntennaExtraCond-ExtraLightIta') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-LightItalic.eot');
    src: local('AntennaComp LightItalic'), local('AntennaComp-LightItalic'),
        url('AntennaComp-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-LightItalic.woff2') format('woff2'),
        url('AntennaComp-LightItalic.woff') format('woff'),
        url('AntennaComp-LightItalic.ttf') format('truetype'),
        url('AntennaComp-LightItalic.svg#AntennaComp-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: url('Antenna-Black.eot');
    src: local('Antenna Black'), local('Antenna-Black'),
        url('Antenna-Black.eot?#iefix') format('embedded-opentype'),
        url('Antenna-Black.woff2') format('woff2'),
        url('Antenna-Black.woff') format('woff'),
        url('Antenna-Black.ttf') format('truetype'),
        url('Antenna-Black.svg#Antenna-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-BlackItalic.eot');
    src: local('AntennaComp BlackItalic'), local('AntennaComp-BlackItalic'),
        url('AntennaComp-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-BlackItalic.woff2') format('woff2'),
        url('AntennaComp-BlackItalic.woff') format('woff'),
        url('AntennaComp-BlackItalic.ttf') format('truetype'),
        url('AntennaComp-BlackItalic.svg#AntennaComp-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaComp';
    src: url('AntennaComp-Light.eot');
    src: local('AntennaComp Light'), local('AntennaComp-Light'),
        url('AntennaComp-Light.eot?#iefix') format('embedded-opentype'),
        url('AntennaComp-Light.woff2') format('woff2'),
        url('AntennaComp-Light.woff') format('woff'),
        url('AntennaComp-Light.ttf') format('truetype'),
        url('AntennaComp-Light.svg#AntennaComp-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-BoldItalic.eot');
    src: local('AntennaExtraCond BoldItalic'), local('AntennaExtraCond-BoldItalic'),
        url('AntennaExtraCond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-BoldItalic.woff2') format('woff2'),
        url('AntennaExtraCond-BoldItalic.woff') format('woff'),
        url('AntennaExtraCond-BoldItalic.ttf') format('truetype'),
        url('AntennaExtraCond-BoldItalic.svg#AntennaExtraCond-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-LightItalic.eot');
    src: local('AntennaExtraCond LightItalic'), local('AntennaExtraCond-LightItalic'),
        url('AntennaExtraCond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-LightItalic.woff2') format('woff2'),
        url('AntennaExtraCond-LightItalic.woff') format('woff'),
        url('AntennaExtraCond-LightItalic.ttf') format('truetype'),
        url('AntennaExtraCond-LightItalic.svg#AntennaExtraCond-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AntennaExtraCond';
    src: url('AntennaExtraCond-Bold.eot');
    src: local('AntennaExtraCond Bold'), local('AntennaExtraCond-Bold'),
        url('AntennaExtraCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('AntennaExtraCond-Bold.woff2') format('woff2'),
        url('AntennaExtraCond-Bold.woff') format('woff'),
        url('AntennaExtraCond-Bold.ttf') format('truetype'),
        url('AntennaExtraCond-Bold.svg#AntennaExtraCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antenna';
    src: url('Antenna-BlackItalic.eot');
    src: local('Antenna BlackItalic'), local('Antenna-BlackItalic'),
        url('Antenna-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Antenna-BlackItalic.woff2') format('woff2'),
        url('Antenna-BlackItalic.woff') format('woff'),
        url('Antenna-BlackItalic.ttf') format('truetype'),
        url('Antenna-BlackItalic.svg#Antenna-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

