extends ../layouts/default

block variables
  - var pageTitle = 'ADEX - Company'
  - var pageDescription = 'ADEX - Company list'
  - var pageKeywords = 'ADEX, company, companies'
  - var pageCanonical = 'https://adex.az/company'
  - var pageOgImage = 'https://adex.az/og-image.jpg'
  - var pageAuthor = 'ADEX'

block content
  // Breadcrumb Section
  include ../mixins/_breadcrumb
  +breadcrumb([
    {text: 'Главная', href: 'index.html'},
    {text: 'Company', href: null}
  ])

  // Main Content
  include ../mixins/_datatable
  -
    var companyRows = [
      {company: 'ACWA Power'},
      {company: 'Adnan Bu Fateem'},
      {company: 'ABB'},
      {company: '"Azneft" Production Union of SOCAR'},
      {company: 'American Chamber of Commerce in Azerbaijan'},
      {company: 'Ansaldo Energia'},
      {company: 'Asan Radio'},
      {company: 'Asian Development Bank'},
      {company: 'AsstrA-Associated Traffic AG'},
      {company: 'AZEL Systems LLC'},
      {company: 'Azerbaijan Energy Regulatory Agency (AERA)'},
      {company: 'Azerbaijan Green Energy Company'},
      {company: 'Azerbaijan Today'},
      {company: 'Baker Hughes'},
      {company: 'Baku Steel Company'},
      {company: 'Boston Consulting Group'},
      {company: 'BP'},
      {company: 'Branch of "Van Oord Dredging and Marine Contractors B.V." in the Republic of Azerbaijan'},
      {company: 'ACWA Power'},
      {company: 'Adnan Bu Fateem'},
      {company: 'ABB'},
      {company: '"Azneft" Production Union of SOCAR'},
      {company: 'American Chamber of Commerce in Azerbaijan'},
      {company: 'Ansaldo Energia'},
      {company: 'Asan Radio'},
      {company: 'Asian Development Bank'},
      {company: 'AsstrA-Associated Traffic AG'},
      {company: 'AZEL Systems LLC'}
    ]
  +datatable('grid', 'Company', [{name: 'Company Name', dataAttr: 'company'}], companyRows, 'company', {pageLength: 18, renderType: 'grid', gridCardClass: 'company__card'})
    block yearSelect

