extends ../layouts/default

block variables
  - var pageTitle = 'ADEX - Главная страница'
  - var pageDescription = 'ADEX - 3 - 5 June 2026, Azerbaijan, Baku'
  - var pageKeywords = 'ADEX, энергетика, Баку, выставка'
  - var pageCanonical = 'https://adex.az'
  - var pageOgImage = 'https://adex.az/og-image.jpg'
  - var pageAuthor = 'ADEX'

block content
  // Hero Section (Video 1)
  section.hero
    .hero__video-wrapper
      img.hero__video-image(src="assets/img/webp/hero-bg.webp" alt="" aria-hidden="true")
      iframe.hero__video(width="1396" height="785" src="https://www.youtube.com/embed/wfsTGsXGKvE" title="ADEX 2024 Азербайджан ( военная выставка )" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
      .hero__overlay
    a.hero__play-btn(href="#")
      i.fas.fa-play
    .hero__content
      .container
        .row
          .col-12
            h1.hero__title 30th Anniversary Azerbaijan International Construction Exhibition
        .row.g-4
          include ../mixins/_button
          .col-6.col-md-3.col-lg-3
            +button("Бронирование стенда", "action", "button", "#")
          .col-6.col-md-3.col-lg-3
            +button("Станте спонсором", "action", "button", "#")
          .col-6.col-md-3.col-lg-3
            +button("Обратная связь", "action", "button", "#")
          .col-6.col-md-3.col-lg-3
            +button("Купите билет", "action", "button", "#")

  // Banner Section (Statistics)
  section.banner-section
    .banner-section__background
      img.banner-section__bg-image(src="assets/img/webp/stats-bg.webp" alt="" aria-hidden="true")
    .banner-section__overlay
    .container
      .banner-section__content
        .banner-section__item
          .banner-section__divider
          .banner-section__icon-wrapper
            i.fas.fa-arrow-up
          .banner-section__text
            p.banner-section__number 21000+
            p.banner-section__label Visitors
        .banner-section__item
          .banner-section__divider
          .banner-section__icon-wrapper
            i.fas.fa-arrow-up
          .banner-section__text
            p.banner-section__number 200+
            p.banner-section__label Exhibitors
        .banner-section__item
          .banner-section__divider
          .banner-section__icon-wrapper
            i.fas.fa-arrow-up
          .banner-section__text
            p.banner-section__number 130+
            p.banner-section__label Speakers
        .banner-section__item
          .banner-section__divider
          .banner-section__icon-wrapper
            i.fas.fa-arrow-up
          .banner-section__text
            p.banner-section__number 35+
            p.banner-section__label Countries

  // Sponsors Section
  include ../mixins/_slider
  include ../mixins/_sponsor-card
  section.sponsors-section
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.mb-4
            h2.sponsors-section__title Sponsors
            .d-flex.gap-3.sponsors-section__nav
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.sponsors-section__nav-btn.sponsors-section__nav-btn--prev(type="button" aria-label="Previous")
                i.fas.fa-arrow-left
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.sponsors-section__nav-btn.sponsors-section__nav-btn--next(type="button" aria-label="Next")
                i.fas.fa-arrow-right
          .swiper.sponsors-swiper(data-swiper data-slides-per-view="1" data-space-between="20" data-loop="true" data-nav-prev=".sponsors-section__nav-btn--prev" data-nav-next=".sponsors-section__nav-btn--next" data-breakpoints='{"576":{"slidesPerView":2},"768":{"slidesPerView":3},"992":{"slidesPerView":4},"1200":{"slidesPerView":5},"1440":{"slidesPerView":6}}')
            .swiper-wrapper
              +sponsor-card('Gold sponsor', 'The Small and Medium Business (SMB) Development Agency of Republic of Azerbaijan', 'assets/img/webp/sponsor1.webp')
              +sponsor-card('Gold sponsor', 'Azerbaijan Exhibition Organisers Association (ASTA)', 'assets/img/webp/sponsor2.webp')
              +sponsor-card('Silver sponsor', 'Export and Investment Promotion Agency of Azerbaijan - AZPROMO', 'assets/img/webp/sponsor3.webp')
              +sponsor-card('Silver sponsor', 'National Confederation of Entrepreneurs Organisations of the Republic of Azerbaijan (ASK)', 'assets/img/webp/sponsor4.webp')
              +sponsor-card('Silver sponsor', 'Permanent Secretariat of The Intergovernmental Commission TRACECA', 'assets/img/webp/sponsor5.webp')
              +sponsor-card('Silver sponsor', 'Permanent Secretariat of The Intergovernmental Commission TRACECA', 'assets/img/webp/sponsor5.webp')

  // Support Section
  section.support-section
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.mb-4
            h2.support-section__title Support
            .d-flex.gap-3.support-section__nav
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.support-section__nav-btn.support-section__nav-btn--prev(type="button" aria-label="Previous")
                i.fas.fa-arrow-left
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.support-section__nav-btn.support-section__nav-btn--next(type="button" aria-label="Next")
                i.fas.fa-arrow-right
          .swiper.support-swiper(data-swiper data-slides-per-view="1" data-space-between="20" data-loop="true" data-nav-prev=".support-section__nav-btn--prev" data-nav-next=".support-section__nav-btn--next" data-breakpoints='{"576":{"slidesPerView":2},"768":{"slidesPerView":3},"992":{"slidesPerView":4},"1200":{"slidesPerView":5},"1440":{"slidesPerView":6}}')
            .swiper-wrapper
              +sponsor-card('Gold sponsor', 'The Small and Medium Business (SMB) Development Agency of Republic of Azerbaijan', 'assets/img/webp/sponsor1.webp')
              +sponsor-card('Gold sponsor', 'Azerbaijan Exhibition Organisers Association (ASTA)', 'assets/img/webp/sponsor2.webp')
              +sponsor-card('Silver sponsor', 'Export and Investment Promotion Agency of Azerbaijan - AZPROMO', 'assets/img/webp/sponsor3.webp')
              +sponsor-card('Silver sponsor', 'National Confederation of Entrepreneurs Organisations of the Republic of Azerbaijan (ASK)', 'assets/img/webp/sponsor4.webp')
              +sponsor-card('Silver sponsor', 'Permanent Secretariat of The Intergovernmental Commission TRACECA', 'assets/img/webp/sponsor5.webp')
              +sponsor-card('Silver sponsor', 'Permanent Secretariat of The Intergovernmental Commission TRACECA', 'assets/img/webp/sponsor5.webp')

  // Event Program Section
  include ../mixins/_event-program-item
  section.event-program-section
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.flex-wrap.flex-md-nowrap.gap-3.w-100.mb-4
            h2.event-program-section__title Event program
            .d-flex.gap-3.event-program-section__tabs
              button.btn.event-program-section__tab.event-program-section__tab--active(type="button" data-day="1") 1 Day
              button.btn.event-program-section__tab(type="button" data-day="2") 2 Day
              button.btn.event-program-section__tab(type="button" data-day="3") 3 Day
          .row
            .col-12.col-lg-7
              .event-program-section__list.h-100
                +event-program-item('11:00 - 12:00', 'Exhibition tour with the participation of official guests')
                +event-program-item('11:00 - 12:00', 'Exhibition tour with the participation of official guests')
                +event-program-item('11:00 - 12:00', 'Exhibition tour with the participation of official guests')
                +event-program-item('11:00 - 12:00', 'Exhibition tour with the participation of official guests')
            .col-12.col-lg-5.d-none.d-md-block
              .event-program-section__image-wrapper.h-100
                img.event-program-section__image(src="assets/img/webp/event-programme.webp" alt="Event program" loading="lazy")
          .d-flex.flex-wrap.flex-md-nowrap.gap-3.mt-4
            a.btn.btn-primary.event-program-section__view-btn.d-block.d-md-none(href="#")
              | View all
              i.fas.fa-arrow-right.ms-2
            a.btn.btn-primary.event-program-section__download-btn(href="#")
              | Download event programme
              i.fas.fa-arrow-right.ms-2

  // Product Categories Section
  include ../mixins/_product-category-card
  section.product-categories-section
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.mb-4
            h2.product-categories-section__title Product categories
            .d-flex.gap-3.product-categories-section__nav
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.product-categories-section__nav-btn.product-categories-section__nav-btn--prev(type="button" aria-label="Previous")
                i.fas.fa-arrow-left
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.product-categories-section__nav-btn.product-categories-section__nav-btn--next(type="button" aria-label="Next")
                i.fas.fa-arrow-right
          .swiper.product-categories-swiper(data-swiper data-slides-per-view="1" data-space-between="20" data-loop="true" data-nav-prev=".product-categories-section__nav-btn--prev" data-nav-next=".product-categories-section__nav-btn--next" data-breakpoints='{"576":{"slidesPerView":2},"768":{"slidesPerView":3},"992":{"slidesPerView":4},"1200":{"slidesPerView":5},"1440":{"slidesPerView":6}}')
            .swiper-wrapper
              +product-category-card('Building materials and products', 'assets/img/webp/categorie1.webp')
              +product-category-card('Ceramic and stone', 'assets/img/webp/categorie2.webp')
              +product-category-card('Construction and production equipment', 'assets/img/webp/categorie3.webp')
              +product-category-card('Fitness equipment', 'assets/img/webp/categorie4.webp')
              +product-category-card('Floooring', 'assets/img/webp/categorie5.webp')
              +product-category-card('Construction and production equipment', 'https://www.advancednavigation.com/wp-content/uploads/2024/09/uav.webp')

  // Video 2 Section
  section.video-section
    .container 
      .row
        .col-12
          .video-section__wrapper
            img.hero__video-image(src="assets/img/webp/video-bg.webp" alt="" aria-hidden="true")
            iframe.hero__video(width="1396" height="785" src="https://www.youtube.com/embed/wfsTGsXGKvE" title="ADEX 2024 Азербайджан ( военная выставка )" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
            .video-section__play-btn(aria-label="Play video")
              i.fas.fa-play

  // Photo Section
  section.photo-section
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.mb-4
            h2.photo-section__title Photo
            .d-flex.gap-3.photo-section__nav
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.photo-section__nav-btn.photo-section__nav-btn--prev(type="button" aria-label="Previous")
                i.fas.fa-arrow-left
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.photo-section__nav-btn.photo-section__nav-btn--next(type="button" aria-label="Next")
                i.fas.fa-arrow-right
          .swiper.photo-swiper.overflow-hidden(data-swiper data-slides-per-view="auto" data-space-between="20" data-loop="true" data-centered-slides="false" data-nav-prev=".photo-section__nav-btn--prev" data-nav-next=".photo-section__nav-btn--next")
            .swiper-wrapper
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide1.webp" alt="Photo gallery" loading="lazy" style="object-fit: cover;")
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide2.webp" alt="Photo 1" loading="lazy" style="object-fit: cover;")
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide3.webp" alt="Photo 2" loading="lazy" style="object-fit: cover;")
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide4.webp" alt="Photo 3" loading="lazy" style="object-fit: cover;")
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide1.webp" alt="Photo gallery" loading="lazy" style="object-fit: cover;")
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide2.webp" alt="Photo 1" loading="lazy" style="object-fit: cover;")
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide3.webp" alt="Photo 2" loading="lazy" style="object-fit: cover;")
              .swiper-slide
                .photo-section__image-wrapper.position-relative.overflow-hidden.rounded-4
                  img.photo-section__image.w-100.h-100(src="assets/img/webp/photo-slide4.webp" alt="Photo 3" loading="lazy" style="object-fit: cover;")

  // Testimonials Section
  include ../mixins/_testimonial-card
  section.testimonials-section
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.mb-4
            h2.testimonials-section__title Testimonials
            .d-flex.gap-3.testimonials-section__nav
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.testimonials-section__nav-btn.testimonials-section__nav-btn--prev(type="button" aria-label="Previous")
                i.fas.fa-arrow-left
              button.btn.btn-link.p-0.border-0.rounded-circle.d-flex.align-items-center.justify-content-center.testimonials-section__nav-btn.testimonials-section__nav-btn--next(type="button" aria-label="Next")
                i.fas.fa-arrow-right
    .testimonials-section__content
      .testimonials-section__background
        img.testimonials-section__bg-image(src="assets/img/webp/testimonials-bg.webp" alt="" aria-hidden="true")
      .testimonials-section__overlay
      .swiper.testimonials-swiper(data-swiper data-slides-per-view="3" data-space-between="20" data-loop="true" data-nav-prev=".testimonials-section__nav-btn--prev" data-nav-next=".testimonials-section__nav-btn--next" data-breakpoints='{"768":{"slidesPerView":2},"992":{"slidesPerView":3}}')
        .swiper-wrapper
          +testimonial-card('Cameron Williamson', 'Big Kahuna Burger Ltd.', 'https://plus.unsplash.com/premium_photo-1661688797823-36e97735223e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWFsZSUyMGVtcGxveWVlfGVufDB8fDB8fHww', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using \'Content here, content here\', making it look like readable English.')
          +testimonial-card('Guy Hawkins', 'Abstergo Ltd.', 'https://img.freepik.com/free-photo/close-up-portrait-young-bearded-man-white-shirt-jacket-posing-camera-with-broad-smile-isolated-gray_171337-629.jpg?semt=ais_hybrid&w=740&q=80', 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.')
          +testimonial-card('Robert Fox', 'Binford Ltd.', 'https://plus.unsplash.com/premium_photo-1661726660137-61b182d93809?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cHJvZmVzc2lvbmFsJTIwcHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D', 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don\'t look even slightly believable.')

  // Venue & Working Hours Section
  section.venue-section
    .container
      .row
        .col-12
          h2.venue-section__title.mb-4 Venue & Working Hours
          .row
            .col-lg-8
              .venue-section__map-wrapper
                iframe.venue-section__map(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6073.152286132823!2d50.0331593!3d40.4403835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403061043b005cbd%3A0x67b03e3eba5d9c28!2z0JHQsNC60YMg0K3QutGB0L_QviDQptC10L3RgtGA!5e0!3m2!1sru!2saz!4v1766744543152!5m2!1sru!2saz" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
            .col-lg-4
              .venue-section__working-hours
                h3.venue-section__working-hours-title Working Hours
                .venue-section__schedule-item
                  i.fas.fa-clock
                  .venue-section__schedule-content
                    p.venue-section__schedule-time 14 October | 11:00 - 18:00
                    p.venue-section__schedule-day Tuesday
                .venue-section__schedule-item
                  i.fas.fa-clock
                  .venue-section__schedule-content
                    p.venue-section__schedule-time 15 October | 10:00 - 18:00
                    p.venue-section__schedule-day Wednesday
                .venue-section__schedule-item
                  i.fas.fa-clock
                  .venue-section__schedule-content
                    p.venue-section__schedule-time 16 October | 10:00 - 18:00
                    p.venue-section__schedule-day Thursday
              .venue-section__venue-info
                h3.venue-section__venue-title Venue
                .venue-section__venue-content
                  i.fas.fa-location-dot
                  .venue-section__venue-text
                    p.venue-section__venue-name Baku Expo Center
                    p.venue-section__venue-address Address: 515, H. Aliyev ave., AZ1050, Baku, Azerbaijan

  // News Section
  section.news-section
    .container
      .row
        .col-12
          .d-flex.justify-content-between.align-items-center.mb-4
            h2.news-section__title News
            a.news-section__view-all(href="#")
              | View all
              i.fas.fa-arrow-right.ms-2
          .row
            .col-lg-6
              article.news-section__featured
                .news-section__featured-image-wrapper
                  img.news-section__featured-image(src="assets/img/webp/news1.webp" alt="News featured" loading="lazy")
                .news-section__featured-content
                  .news-section__meta
                    i.fas.fa-calendar
                    time.news-section__date(datetime="2025-01-24") 24.01.2025
                  h3.news-section__featured-title Preparation for the 30th Anniversary Baku Energy Week is in full swing
                  p.news-section__featured-excerpt Preparations for the 30th Anniversary Baku Energy Week are actively underway. Baku Energy Week, a significant event in the region's energy sector, encompasses three prestigious events...
                  a.news-section__read-more(href="#")
                    | Read more
                    i.fas.fa-arrow-right.ms-2
            .col-lg-6
              .news-section__list
                article.news-section__item
                  .row
                    .col-4
                      .news-section__item-image-wrapper
                        img.news-section__item-image(src="assets/img/webp/news2.webp" alt="News 1" loading="lazy")
                    .col-8
                      .news-section__item-content
                        .news-section__meta
                          i.fas.fa-calendar
                          time.news-section__date(datetime="2025-01-24") 24.01.2025
                        h3.news-section__item-title AI is being imposed into the big picture of the energy industry
                        a.news-section__read-more(href="#")
                          | Read more
                          i.fas.fa-arrow-right.ms-2
                .news-section__divider
                article.news-section__item
                  .row
                    .col-4
                      .news-section__item-image-wrapper
                        img.news-section__item-image(src="assets/img/webp/news3.webp" alt="News 2" loading="lazy")
                    .col-8
                      .news-section__item-content
                        .news-section__meta
                          i.fas.fa-calendar
                          time.news-section__date(datetime="2025-01-24") 24.01.2025
                        h3.news-section__item-title Networking meetings within the exhibition are productive
                        a.news-section__read-more(href="#")
                          | Read more
                          i.fas.fa-arrow-right.ms-2
                .news-section__divider
                article.news-section__item
                  .row
                    .col-4
                      .news-section__item-image-wrapper
                        img.news-section__item-image(src="https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="News 3" loading="lazy")
                    .col-8
                      .news-section__item-content
                        .news-section__meta
                          i.fas.fa-calendar
                          time.news-section__date(datetime="2025-01-24") 24.01.2025
                        h3.news-section__item-title Networking meetings within the exhibition are productive
                        a.news-section__read-more(href="#")
                          | Read more
                          i.fas.fa-arrow-right.ms-2

  // Official Hotel Section
  section.official-hotel-section
    .container
      .row
        .col-12
          h2.official-hotel-section__title.text-center.mb-4 Official hotel
          .d-flex.justify-content-center
            a.card.official-hotel-section__card.text-decoration-none(href="https://www.marriott.com" target="_blank" rel="noopener noreferrer")
              .official-hotel-section__logo-wrapper
                img.official-hotel-section__logo(src="assets/img/webp/hotel1.webp" alt="Official hotel" loading="lazy")
              .official-hotel-section__link
                i.fal.fa-globe
                span www.marriott.com
