extends ../layouts/default

block variables
	- var pageTitle = 'ADEX - Daily Newspaper'
	- var pageDescription = 'Daily newspaper for ADEX exhibition'
	- var pageKeywords = 'ADEX, newspaper, daily newspaper, exhibition'
	- var pageCanonical = 'https://adex.az/newspaper.html'
	- var pageOgImage = 'https://adex.az/og-image.jpg'
	- var pageAuthor = 'ADEX'

block content
	// Breadcrumb
	include ../mixins/_breadcrumb
	+breadcrumb([
		{text: 'Главная', href: 'index.html'},
		{text: 'Газета выставки', href: null}
	])

	// Newspaper Section
	section.newspaper-page.page__spacing
		.container
			// Header with Title and Year Selector
			.newspaper__header.mb-4
				h1.page-title.lh-base.mb-0.d-inline-block Daily Newspaper
				.newspaper__year-selector
					span.newspaper__year-text 2024
					i.fas.fa-caret-down

			// Newspaper Card Wrapper
			.newspaper__wrapper
				.container
					.row.row-cols-1.row-cols-md-4.g-4
						.col
							.card.newspaper__card.h-100
								.newspaper__image-wrapper
									img.newspaper__image.card-img-top(src="assets/img/webp/news1.webp" alt="Adex 2024 Newspaper" loading="lazy")
								.card-footer.newspaper__content
									span.newspaper__name Adex 2024
									button.newspaper__download(type="button" aria-label="Download newspaper")
										i.fas.fa-arrow-down-long-to-line
						.col
							.card.newspaper__card.h-100
								.newspaper__image-wrapper
									img.newspaper__image.card-img-top(src="assets/img/webp/news1.webp" alt="Adex 2024 Newspaper" loading="lazy")
								.card-footer.newspaper__content
									span.newspaper__name Adex fdsfsdfsdfsdf fsdfsdfdsfsd fsd 2024
									button.newspaper__download(type="button" aria-label="Download newspaper")
										i.fas.fa-arrow-down-long-to-line
						.col
							.card.newspaper__card.h-100
								.newspaper__image-wrapper
									img.newspaper__image.card-img-top(src="assets/img/webp/news1.webp" alt="Adex 2024 Newspaper" loading="lazy")
								.card-footer.newspaper__content
									span.newspaper__name Adex 2024
									button.newspaper__download(type="button" aria-label="Download newspaper")
										i.fas.fa-arrow-down-long-to-line
						.col
							.card.newspaper__card.h-100
								.newspaper__image-wrapper
									img.newspaper__image.card-img-top(src="assets/img/webp/news1.webp" alt="Adex 2024 Newspaper" loading="lazy")
								.card-footer.newspaper__content
									span.newspaper__name Adex 2024
									button.newspaper__download(type="button" aria-label="Download newspaper")
										i.fas.fa-arrow-down-long-to-line
						.col
							.card.newspaper__card.h-100
								.newspaper__image-wrapper
									img.newspaper__image.card-img-top(src="assets/img/webp/news1.webp" alt="Adex 2024 Newspaper" loading="lazy")
								.card-footer.newspaper__content
									span.newspaper__name Adex 2024
									button.newspaper__download(type="button" aria-label="Download newspaper")
										i.fas.fa-arrow-down-long-to-line
