extends ../layouts/default

block variables
	- var pageTitle = 'ADEX - Official Support'
	- var pageDescription = 'Official support for ADEX exhibition'
	- var pageKeywords = 'ADEX, official support, exhibition'
	- var pageCanonical = 'https://adex.az/support.html'
	- var pageOgImage = 'https://adex.az/og-image.jpg'
	- var pageAuthor = 'ADEX'

block content
	// Breadcrumb
	include ../mixins/_breadcrumb
	+breadcrumb([
		{text: 'Главная', href: 'index.html'},
		{text: 'Официальная поддержка', href: null}
	])

	// Support Section
	section.support-page.page__spacing
		.container
			// Support Title
			h1.page-title.lh-base.mb-4 Official Support

			// Support Cards Wrapper
			.support__wrapper
				.row.g-4
					.col-12
						.card.support__card
							.support__logo
								img(src="assets/img/support/ministry-defence-industry.png" alt="Ministry of Defence Industry" loading="lazy")
							.support__name Ministry of Defence Industry of the Republic of Azerbaijan
					.col-12
						.card.support__card
							.support__logo
								img(src="assets/img/support/ministry-defense.png" alt="Ministry of Defense" loading="lazy")
							.support__name Ministry of Defense of the Republic of Azerbaijan
