extends ../layouts/default

block variables
	- var pageTitle = 'ADEX - Working Hours'
	- var pageDescription = 'Working hours, venue and services information for ADEX exhibition'
	- var pageKeywords = 'ADEX, working hours, venue, services, Baku Expo Center'
	- var pageCanonical = 'https://adex.az/working-hours2.html'
	- var pageOgImage = 'https://adex.az/og-image.jpg'
	- var pageAuthor = 'ADEX'

block content
	// Breadcrumb
	include ../mixins/_breadcrumb
	+breadcrumb([
		{text: 'Главная', href: 'index.html'},
		{text: 'Kонтакты', href: null}
	])

	// Working Hours Section
	section.working-hours-section
		.container
			// Working Hours Title
			h1.working-hours-section__title Working Hours

			// Working Hours Cards
			.row.g-3.g-lg-5.working-hours-section__cards
				// Desktop version - 3 separate cards
				.col-12.col-lg-4.d-none.d-lg-block
					.working-hours-section__card
						.working-hours-section__card-content
							i.fa-solid.fa-clock.working-hours-section__card-icon
							.working-hours-section__card-text
								p.working-hours-section__card-time 14 October |  11:00 - 18:00
								p.working-hours-section__card-day Tuesday
				.col-12.col-lg-4.d-none.d-lg-block
					.working-hours-section__card
						.working-hours-section__card-content
							i.fa-solid.fa-clock.working-hours-section__card-icon
							.working-hours-section__card-text
								p.working-hours-section__card-time 15 October |  10:00 - 18:00
								p.working-hours-section__card-day Wednesday
				.col-12.col-lg-4.d-none.d-lg-block
					.working-hours-section__card
						.working-hours-section__card-content
							i.fa-solid.fa-clock.working-hours-section__card-icon
							.working-hours-section__card-text
								p.working-hours-section__card-time 16 October |  10:00 - 18:00
								p.working-hours-section__card-day Thursday

				// Mobile version - single card with all hours
				.col-12.d-lg-none
					.working-hours-section__card-mobile
						p.working-hours-section__card-mobile-title Working Hours
						.working-hours-section__card-mobile-item
							i.fa-solid.fa-clock.working-hours-section__card-icon
							.working-hours-section__card-text
								p.working-hours-section__card-time 14 October |  11:00 - 18:00
								p.working-hours-section__card-day Tuesday
						.working-hours-section__card-mobile-item
							i.fa-solid.fa-clock.working-hours-section__card-icon
							.working-hours-section__card-text
								p.working-hours-section__card-time 15 October |  10:00 - 18:00
								p.working-hours-section__card-day Wednesday
						.working-hours-section__card-mobile-item
							i.fa-solid.fa-clock.working-hours-section__card-icon
							.working-hours-section__card-text
								p.working-hours-section__card-time 16 October |  10:00 - 18:00
								p.working-hours-section__card-day Thursday

			// Note
			.working-hours-section__note
				p Please note that access to the event for visitors will be limited 30 minutes before closing time.

	// Venue Section
	section.venue-page
		.container
			// Venue Title
			h1.venue-page__title Venue

			// Venue Image
			.venue-page__image-wrapper
				iframe.venue-page__image(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6073.152286132823!2d50.0331593!3d40.4403835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403061043b005cbd%3A0x67b03e3eba5d9c28!2z0JHQsNC60YMg0K3QutGB0L_QviDQptC10L3RgtGA!5e0!3m2!1sru!2saz!4v1766744543152!5m2!1sru!2saz" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

			// Venue Info Cards
			.row.g-3.g-lg-5.venue-page__info-cards
				.col-12.col-lg-6
					.venue-page__card
						.venue-page__card-content
							i.fal.fa-location-dot.venue-page__card-icon
							.venue-page__card-text
								p.venue-page__card-title Baku Expo Center
								p.venue-page__card-subtitle Address: 515, H. Aliyev ave., AZ1050, Baku, Azerbaijan
				.col-12.col-lg-6
					.venue-page__card
						.venue-page__card-content
							i.fal.fa-bus.venue-page__card-icon
							.venue-page__card-text
								p.venue-page__card-title How to get to the exhibition centre:
								p.venue-page__card-subtitle From "Koroglu" metro station - N 160, 171

	// Services Section
	section.services-page
		.container
			// Services Title
			h1.services-page__title Services provided at the exhibition complex

			// Services List
			.services-page__list
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Medical point
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Restaurant
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Coffee shop
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Cash point
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Wardrobe
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Event organisers' office
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Charging station
				.services-page__item
					i.fa-solid.fa-circle-check.services-page__icon
					p.services-page__text Business trip paperwork
